img{
    width:100%;
    height:100%;
}
table.tod{
    width: 100%;
}
header{
    background: #AC82CA;
}
body{
    background: #B3D8F3;
}
#indice li{
    display: inline;
    background-color: #AC82CA;
    font-size: 20px;
}
object {
    width: 3000;
    height: 1000;
  } 
  footer{
      position: absolute;
  }
  #footer{
      
  }
  table#gran{
    width: 100%;
    height:100%;
    
}
td{
    width: 120px;
    height: 150px;
}
